<div class="py-4 team4">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-5 text-center">
        <h3 class="mb-3">Notre équipe Dev chez E-PiCat</h3>
        <h6 class="subtitle">Pour assurer un service hors norme à nos clients nous avons recruté chez E-PiCat les meilleurs developpeurs au monde</h6>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <!-- column  -->
      <div class="col-lg-3 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Lucas M.</h5>
              <h6 class="subtitle mb-3"> - Dev Full Stack -</h6>
              <p>Le plaisir se trouve dans le branchement de stripe</p>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Hary A.</h5>
              <h6 class="subtitle mb-3"> - Dev Full Stack -</h6>
              <p>Les branch de github sont une aubaine !</p>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Florent D.</h5>
              <h6 class="subtitle mb-3"> - Dev Full Stack -</h6>
              <p>BACK BACK BACK ! Donnez moi du back</p>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Joffrey C.</h5>
              <h6 class="subtitle mb-3"> - Dev Full Stack -</h6>
              <p>Donnez moi du front, je vous en fait une merveille</p>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Kevin P.</h5>
              <h6 class="subtitle mb-3"> - Dev Full Stack -</h6>
              <p>API c'est la vie</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    
    <div class="row justify-content-around">
      <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section">Vous souhaitez nous contacter ?</h2>
      </div>
    </div>

    <div class="card-group-fluid justify-content-around text-center" >
      <div class="card-header" style="max-width: 33%">
        <i class="fa fa-map-marker-alt fa-2x"></i>
      <div class="card-body">
        <div class=" dbox w-100 text-center">
        <div class="text">
        <p> 123, allée de la réusite. New-Limoge - Kazakhstan</p>
      </div>
      </div>
  </div>
    </div>
  </div>
  <div class="card-group-fluid justify-content-around text-center" >
      <div class="card-header" style="max-width: 33%">
        <i class="fas fa fa-phone-alt fa-2x"></i>
        <div class="card-body">
        <div class="dbox w-100 text-center">
        <div class="text">
      <p>02 47 47 47 47</p>
      </div>
    </div>
  </div>
  </div>
  </div>
<div class="row no-gutters">
  <div class="col-md-7">
    <div class="contact-wrap w-100 p-md-5 p-4">
      <h3 class="mb-4">Nous contacter</h3>
        <div id="form-message-warning" class="mb-4"></div>
          <div id="form-message-success" class="mb-4">
Merci de préciser le sujet de votre message !
</div>
<form method="POST" id="contactForm" name="contactForm" class="contactForm">
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label class="label" for="name">Nom et Prénom</label>
<input type="text" class="form-control" name="name" id="name" placeholder="John Doe">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label class="label" for="email">Email de contact</label>
<input type="email" class="form-control" name="email" id="email" placeholder="exemple@yopmail.com">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label class="label" for="subject">Sujet</label>
<input type="text" class="form-control" name="subject" id="subject">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label class="label" for="#">Message</label>
<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Ecrivez votre message"></textarea>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="submit" value="Send Message" class="btn btn-primary">
<div class="submitting"></div>
</form>
</section>

</body>
</html>