
<h1>Merci pour ta commande <%= @order.user.email %></h1>
<ul>
    <% @order.items.each do |item|%>
        <li><%= item.title %>,
            <%= item.price %> €,
            <%= image_tag item.picture %>
        </li>
    <% end %>
</ul>

<P>Total: <% @order.price %></P>
<p> À très vite sur e-PiCat  ! 