<div class="ui-block">
    <div class="container">
      <h4 class="ui-block-heading">Orders</h4>

      <div class="uikit-example">

        <div class="card mb-3">
          <div class="card-body p-4 p-md-5">
            <div class="d-flex flex-wrap justify-content-between align-items-center ui-bordered py-3 px-4 mt-3">
              <div>
                Order ID: <strong>4153148974126</strong> &nbsp;
                <a href="javascript:void(0)" class="small">View detail</a><br>
                <small class="text-muted">Order Date: Apr. 1 2017</small>
              </div>
              <div class="d-flex align-items-center">
                Status:&nbsp; <strong>Complete</strong>
                <a data-toggle="collapse" href="#order-4153148974126" class="d-block ml-3"><i class="collapse-icon"></i></a>
              </div>
            </div>
            <div class="collapse table-responsive" id="order-4153148974126">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="p-4">
                      <div class="media align-items-center">
                        <img src="/products/appwork/v120/assets_/img/uikit/sunglasses.jpg" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                        <div class="media-body">
                          <a href="javascript:void(0)" class="d-block text-dark">WALKING 400 BLUE CAT3</a>
                          <small>
                            <span class="text-muted">Ships from: </span> Germany
                          </small>
                          <div class="mt-2">
                            <button type="button" class="btn btn-default btn-sm">Leave review</button>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle p-4">
                      x1
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4">
                      $20.55
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="3" class="text-right px-4">
                      <small class="text-muted">Total price:</small> <strong>$20.55</strong>
                    </th>
                  </tr>
                </tfoot>
              </table>
            </div>
        </div>
    </div>
  </div>