
.footer a {
  color: #000;
  transition: .3s;
}

.footer a:hover {
  color: rgb(155, 30, 30);
  text-decoration: none;
}

.back-top {
  float: right;
}

.footer hr {
  clear: both;
}

.footer {
  margin-top: 300px;
}
