

.jumpbotron {
  background-image: url(https://pixabay.com/get/g497cb73eef012e76102be18a7d62f53ec5babebf799cd033de9baf18fef93c4e088541a27fca048e12fff8814d392bb6e7376f78fb07bc3fefdfe091eaca093da1c99eacf7b139c58863ff1e4b0c942c_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 50px;
}
