.jumbotitle {
  font-size: 6em;
}

.jumpbotron {
  background-image: image-url('cat-6309964_1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 50px;
}
