<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande de réinitialisation de mot de passe a été demandée pour le site e-PiCat. Suivez le lien ci-dessous.</p>

<p><%= link_to 'Renouveller mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer ce mail.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas accédé au lien ci-dessus et en avez crée un nouveau.</p>
