<div class="jumpbotron mx-auto text-center mb-5">
  <div class="container">
    <h1 class="mb-1 jumbotitle mt-4 mb-4"> e-PiCat </h1>
    <h2 class="action-banner">De belles photos qui n'attendent que vous</h2>
  </div>
</div>
