<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4 bg-primary bg-gradient">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="https://fr-fr.facebook.com/">
          <i class="fab fa-facebook-f"  > </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" href="https://twitter.com/?logout=1638440775355">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1" href="https://www.google.com/">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/home">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 THP e-picat:
    <a href="https://github.com/HaryRabarijoely/e-picat"> Github</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->